@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Navbar */
.navbar-brand {
  font-family: "Quicksand";
  color: orange;
}

.navbar-brand:visited {
  font-family: "Quicksand";
  color: orange;
}

.navbar-brand:hover {
  font-family: "Quicksand";
  color: orange;
}

.navbar {
  background-color:#1e1e1e;
}

nav .navbar-nav li a{
  color: rgb(184, 183, 183);
}

nav .navbar-nav li a:visited {
  color: rgb(184, 183, 183);
}

nav .navbar-nav li a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: orange;
}

.nav-link {
  text-transform: uppercase;
  font-family: "Quicksand";
}

.social-icons a {
  color: orange !important;
}
.social-icons a:hover {
  color: white !important;
}

.navbar-toggler{
  color: rgb(184, 183, 183);
  background-color: orange !important;
}

.navbar-toggler .line{
  background-color: rgb(184, 183, 183) !important;
}

/* Body */
body {
  background-color: #333333 !important;
}
